/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* common  */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.bck-color{
    background-color: #f6f6f6;
}
.bck-color-2{
    background-color: #23272a;
}
button{
    border: white;
    background-color: whi;
}
/* intestazione  */
header{
    height: 80px;
    background-color: #2a5ee8;
}
.container {
    max-width: 1080px;
    height: 80px;
    margin: auto;
    background-color: #2a5ee8;

}
.logo {
    height: 80px;
    width: 13%;
    float: left;
    margin-top: 20px;

}
.nav {
    height: 80px;
    float: left;
    width: 80%;
    text-align: center;
    background-color: #2a5ee8;
}
.nav li {
    display: inline-block;
    margin-top: 28px;
}
.nav li a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.accedi {
    width: 7%;
    height: 35px;
    float: left;
    background-color: white;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    border-radius: 100px;
    margin-top: 20px;
}
/* hero  */
.hero{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}


h1{
    text-align: center;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;  
    padding-bottom: 20px;
    color: white;
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#hero-text{
    
    text-align: center;
    color: white;
    padding: 0 500px;
    
    
}
h4{
    font-size: 40px;
    color: #8ea1e1;
}
.btn{
   padding-top: 20px;
   padding-bottom: 150px;
   text-align: center;
}
.hero-button1 {
    padding: 13px;
    background-color: white;
    border-radius: 20px;
    color: black;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.hero-button2 {
    padding: 13px;
    background-color: black;
    border-radius: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-left: 1em;
}

.hero-button1 a, .hero-button2 a, .btn-2 a{
    text-decoration: none;
    color: inherit;
}

.main-container{
    max-width: 1080px;
    margin: auto;
    padding-bottom: 150px;
}
.img-sez{
    max-width: 50%;
    float: left;
    margin-right: 10%;
    padding-top: 100px;

}
.text-sez{
    max-width: 30%;
    float: right;
    margin-left: 10%;
    text-align: left;
    padding-top: 125px;
}
.small-txt{
    margin-top: 20px;

}

.invert1{
    float: left;
    margin-left: 0;
}
.invert2{
    float:right
}

#txt-sez-4{
    text-align: center;
    padding-top: 100px;

}
.img-sez-4{
    text-align: center;
}
h3{
    background-image: url("../img/stars.svg");;
    font-size: 24px;
    display: inline-block;
    padding: 30px 40px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}
.btn-2{
    margin: auto;
    max-width: 10em;
    text-decoration: none;
    padding: 13px;
    background-color: #8ea1e1;
    border-radius: 20px;
    color: white;
}
.col-1{
    float: left;
    width: 30%;
}
.col-2, .col-3, .col-4, .col-5{
    float: left;
    width: 17.5%;
}
.footer-top{
    min-height: 450px;
    padding-top: 100px;
}
.footer-top p{
    color: #8ea1e1;

}
.footer-top a, .btn-footer a {
    text-decoration: none;
    color: white;
}
.footer-top li{
    list-style-type: none;
    padding-top: 5px;
}
#logo-footer{
    float: left;
    margin-top: 20px;
}
.btn-footer{
    margin-top: 20px;
    float: right;
    max-width: 10em;
    text-decoration: none;
    padding: 13px;
    background-color: #8ea1e1;
    border-radius: 20px;
    color: white;
}