/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* common  */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* intestazione  */
header{
    height: 80px;
    background-color: #2a5ee8;
}
.container {
    max-width: 1000px;
    height: 80px;
    margin: auto;
    background-color: #2a5ee8;

}
.logo {
    height: 80px;
    width: 13%;
    float: left;
    margin-top: 20px;

}
.nav {
    height: 80px;
    float: left;
    width: 80%;
    text-align: center;
    background-color: #2a5ee8;
}
.nav li {
    display: inline-block;
    margin-top: 28px;
}
.nav li a {
    text-decoration: none;
}
a{
    margin-right: 20px;
    color: white;

}

.accedi {
    width: 7%;
    height: 35px;
    float: left;
    background-color: white;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    border-radius: 100px;
    margin-top: 20px;
}
/* hero  */
.hero-img {
    background-image: url("../img/jumbo.png");
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;

}
h1{
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    color: white;
}
p{
    text-align: center;
    max-width: 500px;
    margin-left: 520px;
    margin-top: 60px;
    color: white;
}

